<div class="row" [class.deleting]="isDeleting">
	<div class="col-12">
		<div class="row">
			<div class="col-12 col-lg-6">Usuario: </div>
		</div>
		<div class="row">
				<div class="col-12 col-lg-6"> {{usuario.usuario}}</div>
			</div>
		<div class="row">
			<div class="col-12 col-lg-6">Nombre: </div>
		</div>
		<div class="row">
				<div class="col-12 col-lg-6"> {{usuario.nombre}}</div>
			</div>
		<div class="row">
			<div class="col-12 col-lg-6">Apellido1: </div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6"> {{usuario.apellido1}}</div>
		</div>
		<div class="row">
			<div class="col-3">Correo: </div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6"> {{usuario.correo}}</div>
		</div>
	</div>
	<div class="col-3 actions">
		<div class="row">
			<div class="col-12 text-center">
				<button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
			</div>
			<div class="col-12 text-center">
				<button type="button" class="btn btn-danger" (click)="borrar()"><span *ngIf="isDeleting">...</span><span *ngIf="!isDeleting">Eliminar</span></button>
			</div>
		</div>
	</div>
</div>
