<form (ngSubmit)="onSubmit(lugarForm)" #lugarForm="ngForm">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="form-control " id="nombre"
		required
		[text-contains-validator]="requiredText"
		[(ngModel)]="lugar.nombre" name="nombre"
		#nombre="ngModel">
		<div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
			<div *ngIf="nombre.errors && nombre.errors.required">
				El Nombre es requerido
			</div>
			<div *ngIf="nombre.errors && nombre.errors.textContains">
				El texto no incluye {{requiredText}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="provincia">Provincia</label>
		<input type="text" class="form-control" id="provincia"
		[(ngModel)]="lugar.provincia" name="provincia" #provincia="ngModel" required>
		<div [hidden]="provincia.valid || provincia.pristine" class="alert alert-danger">
			La provincia es requerida
		</div>
	</div>

	<div class="form-group">
		<label for="facebook">Facebook</label>
		<input type="text" class="form-control" id="facebook"
		[(ngModel)]="lugar.facebook" name="faceboook" #facebook="ngModel" >
	</div>

	<div class="form-group">
		<label for="instagram">Instagram</label>
		<input type="text" class="form-control" id="instagram"
		[(ngModel)]="lugar.instagram" name="instagram" #instagram="ngModel">	
	</div>

	<button type="submit" class="btn btn-success" [disabled]="!lugarForm.form.valid || !canAdd"><span *ngIf="!isEditing">Agregar</span><span *ngIf="isEditing">Actualizar</span></button>
	<button type="button" class="btn btn-danger" (click)="newLugar(); lugarForm.reset()">Revert</button>
</form>