<!--Footer-->
<footer class="page-footer font-small blue-grey lighten-5 pt-0">

    <div style="background-color: #21d192;">
        <div class="container ">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-12 col-md-5 text-left mb-2 mb-md-0 mt-0">
                    <h6 class="mb-0 white-text text-center text-md-left">
                        <strong>Siguenos en redes sociales!</strong>
                    </h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-12 col-md-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0" href="https://www.facebook.com/kulukcostarica/" target="_blank">
                        <i class="fa fa-facebook white-text mr-lg-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-lg-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/kulukcostarica/?hl=en" target="_blank">
                        <i class="fa fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-3 mb-3 text-center text-md-left">
        <div class="row mt-2">

            <!--First column-->
            <div class="col-md-6 col-lg-6 col-xl-6 mb-4 dark-grey-text">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Kuluk</strong>
                </h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Encuentranos en nuestros puntos de venta!!!.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Products</strong>
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!" class="dark-grey-text">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!" class="dark-grey-text">MDWordPress</a>
                </p>
                <p>
                    <a href="#!" class="dark-grey-text">BrandFlow</a>
                </p>
                <p>
                    <a href="#!" class="dark-grey-text">Bootstrap Angular</a>
                </p>
            </div> -->
            <!--/.Second column-->

            <!--Third column-->
            <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!" class="dark-grey-text">Your Account</a>
                </p>
                <p>
                    <a href="#!" class="dark-grey-text">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!" class="dark-grey-text">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!" class="dark-grey-text">Help</a>
                </p>
            </div> -->
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-6 col-lg-6 col-xl-5 dark-grey-text">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> Zapote, San Jose Costa Rica</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@kuluklab.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +506 83910720</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div style="background-color: #21d192;" class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="" target="_blank">
            <strong> David Villalobos M.</strong>
        </a>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->

                      