<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" novalidate>
	<div class="form-group col-12">
		<label>Usuario</label>
		<input type="text" class="form-control" placeholder="Ingrese el nombre del usuario.." formControlName="usuario" [attr.disabled]="isEditing?'':null">
		<div *ngIf="!usuarioForm.controls['usuario'].valid && (usuarioForm.controls['usuario'].dirty || usuarioForm.controls['usuario'].touched)" class="alert alert-danger">
			<div *ngIf="usuarioForm.controls['usuario'].errors.required">
				El usuario es requerido
			</div>
		</div>
	</div>
	<div class="form-group col-12 col-lg-6">
		<label>Nombre</label>
		<input type="text" class="form-control" formControlName="nombre">
		<div *ngIf="!usuarioForm.controls['nombre'].valid && (usuarioForm.controls['nombre'].dirty || usuarioForm.controls['nombre'].touched)" class="alert alert-danger">
			<div *ngIf="usuarioForm.controls['nombre'].errors.required">
				El nombre es requerido
			</div>
			<div *ngIf="usuarioForm.controls['nombre'].errors.minlength">
				El nombre debe tener al menos 2 digitos.
			</div>
			<div *ngIf="usuarioForm.controls['nombre'].errors.maxlength">
				El nombre debe tener al maximo 3 digitos.
			</div>
			<div *ngIf="usuarioForm.controls['nombre'].errors.forbiddenName">
				El nombre no puede ser Juan.
			</div>
		</div>
	</div>
	<div class="form-group col-12 col-lg-6">
		<label>Apellido</label>
		<input type="text" class="form-control" formControlName="apellido1">
		<div *ngIf="usuarioForm.controls['apellido1'].errors && (usuarioForm.controls['apellido1'].dirty || usuarioForm.controls['apellido1'].touched)" class="alert alert-danger">
			<div *ngIf="usuarioForm.controls['apellido1'].errors.required">
				El Apellido es requerido
			</div>
		</div>
	</div>
	<div class="form-group col-12 col-lg-6">
		<label>Contraseña</label>
		<input type="password" class="form-control" formControlName="passw">
		<div *ngIf="usuarioForm.controls['passw'].errors && (usuarioForm.controls['passw'].dirty || usuarioForm.controls['passw'].touched)" class="alert alert-danger">
			<div *ngIf="usuarioForm.controls['passw'].errors.required">
				La Contraseña es requerida
			</div>
		</div>
	</div>
	<div class="form-group col-12 col-lg-6">
		<label>Correo</label>
		<input type="email" class="form-control" formControlName="correo">
		<div *ngIf="usuarioForm.controls['correo'].invalid && (usuarioForm.controls['correo'].dirty || usuarioForm.controls['correo'].touched)" class="alert alert-danger">
			<div *ngIf="usuarioForm.controls['correo'].errors.required">
				El Correo es requerido
			</div>
			<div *ngIf="usuarioForm.controls['correo'].errors.patternInvalid">
				El Correo es invalido
			</div>
		</div>
	</div>
	<div>
		<button type="submit"
		[disabled]="usuarioForm.invalid " class="btn btn-success"><span *ngIf="!isEditing">Agregar</span><span *ngIf="isEditing">Editar</span></button> &nbsp;
		<button type="reset" (click)="revert()" class="btn btn-danger">Revert</button>
	</div>
</form>