<div>
	<div class="page-title row">
		<h2 class="col-5">Acerca</h2>
	</div>
	<p>
	  Kuluk inicia en 2016, luego de años de inquietudes y búsqueda de inspiración. Sus productos son 100% naturales y desarrollados bajo un concepto de conciencia ambiental para el cuidado personal. 
		Kuluk selecciona con rigurosidad los ingredientes provenientes de pequeños productores a nivel nacional, enlazando la cosmética artesanal con los secretos de la farmacognosia. Unimos este conocimiento con técnicas para crear fórmulas, que hacen de Kuluk una alternativa para aquellos que busquen su bienestar.
	</p>
</div>
