<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Kuluk | Bálsamos & Ceras</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/productos" routerLinkActive="active">Productos</a>
      </li>
      <li class="nav-item">
         <a class="nav-link"  routerLink="/lugares" routerLinkActive="active">Encuentranos</a>
      </li>   
      <li class="nav-item">
          <a *ngIf="islogged" class="nav-link"  routerLink="/usuarios"  routerLinkActive="active">Usuarios</a>
      </li>    
      <li class="nav-item">
          <a class="nav-link disabled" routerLink="/about" routerLinkActive="active">About</a>
      </li>    
      <li class="nav-item">
         <a class="nav-link disabled" routerLink="/info" routerLinkActive="active">Info</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" routerLink="/usuariologin" routerLinkActive="active" ><span *ngIf="!islogged">Login</span><span *ngIf="islogged">LogOut</span></a> 
      </li>      
    </ul>
  </div>  
</nav>
<br>



