<div class="container">    
  <div class="row">
    <div class="col-md-8">				
      <div class="panel panel-default  panel--styled">
        <div class="panel-body">
          <div class="col-md-12 panelTop">	
            <div class="col-md-6">	
              <img class="img-fluid-row" src="{{slider.imgurl}}" alt=""/>
            </div>
            <div class="col-md-12">	
              <h4>{{slider.shortText}}</h4>
            </div>
            <div class="col-md-12">	
                <p>{{slider.longText}}</p>
            </div>
          </div>
          <div class="col-md-12 panelBottom inner">
            <div class="col-3 text-center">
              <button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
            </div>
            <div class="col-6 text-center">
              <button type="button" class="btn btn-danger" (click)="borrar()"><span *ngIf="isDeleting">...</span><span *ngIf="!isDeleting">Eliminar</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>